<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Temperature Converter</h1>

<form th:action="@{/unit/convertTemperature}" method="post">
    <label>Enter the temperature to convert:</label>
    <input type="number" name="temperature" required />

    <label for="temperatureUnitFrom">From:</label>
    <select id="temperatureUnitFrom" name="temperatureUnitFrom">
        <option th:each="unit : ${temperatureUnits}" th:value="${unit}" th:text="${unit}">default</option>
    </select>

    <label for="temperatureUnitTo">To:</label>
    <select id="temperatureUnitTo" name="temperatureUnitTo">
        <option th:each="unit : ${temperatureUnits}" th:value="${unit}" th:text="${unit}">default</option>
    </select>

    <button type="submit">Convert</button>
</form>

<h2>Result of your calculation</h2>
<p th:if="${convertedValue != null}" th:text="${originalValue + ' ' + originalUnit + ' = ' + convertedValue + ' ' + convertedUnit}"></p>

</body>
</html>
